In [52]:
!pip install pyspark
import nltk
nltk.download('stopwords')

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (3.0.0)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.9)
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [53]:
import pandas as pd
from nltk.corpus import stopwords
import re

# load data
#df = pd.read_csv('./jobs_small.csv', encoding="latin-1")
df = pd.read_csv('./jobs.csv', encoding="utf-8")
#print(df.head())

# text preprocessing
REPLACE_BY_SPACE_RE = re.compile('[#+_/(){}!^?<>"''*\[\]\|@,;]')
BAD_SYMBOLS_RE = re.compile('[^0-9a-z #+_]')
match_regex = re.compile('\d+')
STOPWORDS = set(stopwords.words('english'))

# data cleaning
def clean_text(text):
    # change to lower-csae
    text = str(text).lower()
    text = REPLACE_BY_SPACE_RE.sub(' ', text)
    # remove BAD_SYMBOLS_RE
    text = BAD_SYMBOLS_RE.sub('', text)
    text = match_regex.sub('', text)
    # drop the stopwords
    text = ' '.join(word for word in text.split() if word not in STOPWORDS) 
    return text

# read and clean the resume file
f = open('./resume.txt', 'r')          ############# change resume here ####################
text = f.read()
text = clean_text(text)

# clean the desc field
df['desc_clean'] = df['description'].apply(clean_text)
df.drop(columns=['description', 'id'], inplace=True)
df.loc[0] = ['resume', 0, 0, 0, text]

for i in range(len(df)):
  try:
    if df['desc_clean'][i]=='nan' or df['desc_clean'][i]=='' or len(df['desc_clean'][i]) < 100:
      df.drop(labels=i, inplace=True)
  except:
    continue

df.dropna(axis=0, inplace=True)
df['id'] = [i for i in range(len(df))]
print(df['desc_clean'])
df.to_csv('./jobs_clean.csv')

0        jianfei zhao jeff zhao jz nyuedu wwwlinkedinco...
1        future make join honeywell become member globa...
2        data scientist sequencing bioinformatics roche...
3        data scientist professional needed walmart sun...
4        inficon growing global leading provider innova...
                               ...
18774    team lead solution architect provide venue exp...
18777    principal system solutions architectcompany ov...
18778    client permanent opportunity preferred locatio...
18779    honeywell equal opportunity employer qualified...
18780    eliassen group provides strategic talent solut...
Name: desc_clean, Length: 14791, dtype: object

In [54]:
from pyspark.sql import SparkSession
from pyspark.ml.feature import Tokenizer, StopWordsRemover
from pyspark.ml.feature import HashingTF, IDF
#from pyspark.ml.feature import NGram

spark=SparkSession \
        .builder \
        .appName('tfidf_app') \
        .getOrCreate()

# load data
df0 = spark.read.csv("./jobs_clean.csv", header=True, multiLine=True, inferSchema=True)
#df0.show()
print('The number of jobs：',df0.count())

# split the desc field
tokenizer = Tokenizer(inputCol='desc_clean', outputCol='desc_words')
df = tokenizer.transform(df0)
#df.show()
#df.select('desc_words').show(10)

# compute TF-IDF
hashingTF = HashingTF(inputCol='desc_words', outputCol='desc_words_tf')
tf = hashingTF.transform(df).cache()
idf = IDF(inputCol='desc_words_tf', outputCol='desc_words_tfidf').fit(tf)
tfidf = idf.transform(tf).cache()
#print('tfidf for each job:', tfidf.select('desc_words_tfidf').show(10,truncate=False))

# data normalization
from pyspark.ml.feature import Normalizer
normalizer = Normalizer(inputCol="desc_words_tfidf", outputCol="norm")
tfidf = normalizer.transform(tfidf)
#tfidf.select("id", "norm").show(6)

# compute similarity between jobs and resume
import pyspark.sql.functions as psf 
from pyspark.sql.types import DoubleType
dot_udf = psf.udf(lambda x,y: float(x.dot(y)), DoubleType()) # define dot-product function
tfidf = tfidf.alias("a1").join(tfidf.alias("a2"), psf.col("a1.id") == 0)\
        .select(
            psf.col("a1.job"),
            psf.col("a1.id").alias("id1"), 
            psf.col("a2.id").alias("id2"), 
            dot_udf("a1.norm", "a2.norm").alias("similarity"))
tfidf.show(10)

The number of jobs： 14791
+------+---+---+--------------------+
|   job|id1|id2|          similarity|
+------+---+---+--------------------+
|resume|  0|  0|  1.0000000000000016|
|resume|  0|  1| 0.01043801713733717|
|resume|  0|  2|7.405503588392814E-4|
|resume|  0|  3|0.007065724550965595|
|resume|  0|  4|   0.023492545109239|
|resume|  0|  5|0.040844218054418825|
|resume|  0|  6|0.004198557619658468|
|resume|  0|  7|0.013267752098056557|
|resume|  0|  8|0.019068246791674657|
|resume|  0|  9|0.009293467462362679|
+------+---+---+--------------------+
only showing top 10 rows

In [55]:
# show Top-20 matched jobs
match = tfidf.where('id1 = 0').sort('similarity', ascending=False).where('id2 > 0')
top_match = match.limit(20)
print('Top 20 matched jobs:')
df0.alias("a1").join(top_match.alias("a2"), psf.col("a1.id") == psf.col("a2.id2"))\
    .select(psf.col("a1.job"), "a1.company", "a1.location", "a2.similarity")\
    .sort('similarity', ascending=False).show()

Top 20 matched jobs:
+--------------------+--------------------+--------------------+-------------------+
|                 job|             company|            location|         similarity|
+--------------------+--------------------+--------------------+-------------------+
|Machine Learning ...|Southwest Researc...|  San Antonio, Texas|0.08116147399903528|
|       FPGA Engineer|Microchip Technology|San Jose, California|0.08064671429779627|
|       FPGA Engineer|Lam Research Corp...|Fremont, Californ...|0.08037405195916836|
|        DSP engineer|Lam Research Corp...|Fremont, Californ...|0.08037405195916836|
|       FPGA Engineer|            Randstad|Ashaway, Rhode Is...|0.07606167591026433|
|Embedded Systems ...|Southwest Researc...|  San Antonio, Texas|  0.071527836903023|
|        DSP engineer|    ON Semiconductor|San Jose, California|0.06983257516394467|
|       FPGA Engineer|Odyssey Systems C...|Lexington, Massac...|0.06794424029819622|
|Embedded Systems ...|Odyssey Systems C...|Lexington, Massac...|0.06794424029819622|
|        DSP engineer|Odyssey Systems C...|Lexington, Massac...|0.06794424029819622|
|        ARM engineer|Odyssey Systems C...|Lexington, Massac...|0.06794424029819622|
|Circuit Design En...|Randstad Technolo...|Ashaway, Rhode Is...|0.06712068324775063|
|       FPGA Engineer|Randstad Technolo...|Ashaway, Rhode Is...|0.06712068324775063|
|       FPGA Engineer|            Dynetics| Huntsville, Alabama|0.06575373417683203|
|Machine Learning ...|Southwest Researc...|  San Antonio, Texas|0.06496953463692742|
|computer vision e...|Southwest Researc...|  San Antonio, Texas|0.06496953463692742|
|computer vision e...|         CyberCoders|Irvine, Californi...|0.06496923964857998|
|Python Software E...|         CyberCoders|Irvine, Californi...|0.06496923964857998|
|Machine Learning ...|Southwest Researc...|  San Antonio, Texas| 0.0647745018675982|
|computer vision e...|Southwest Researc...|  San Antonio, Texas| 0.0647745018675982|
+--------------------+--------------------+--------------------+-------------------+

In [56]:
match = df0.alias("a1").join(match.alias("a2"), psf.col("a1.id") == psf.col("a2.id2"))\
    .select(psf.col("a1.job"), "a1.company", "a1.location", "a2.similarity")\
    .sort('similarity', ascending=False)

# create SQL table
match.createOrReplaceTempView("match")

In [57]:
# start SQL query

# select jobs in specific location
df = spark.sql("SELECT * FROM match WHERE location like 'New York City%'")
#df = spark.sql("SELECT * FROM match WHERE location like 'San Francisco%'")
df.show()

+--------------------+--------------------+--------------------+--------------------+
|                 job|             company|            location|          similarity|
+--------------------+--------------------+--------------------+--------------------+
|Telecommunication...|      Clarapath Inc.|New York City, Ne...| 0.03648633647025688|
|       FPGA Engineer|      Clarapath Inc.|New York City, Ne...| 0.03648633647025688|
|              python|    Case Interactive|New York City, Ne...|0.030861421430990247|
|Python Software E...|    Case Interactive|New York City, Ne...|0.027351413502308866|
|JavaScript Developer|    Case Interactive|New York City, Ne...|0.027351413502308866|
|Telecommunication...|      Clarapath Inc.|New York City, Ne...|0.023265618129192603|
|       web developer|      Clarapath Inc.|New York City, Ne...|0.023265618129192603|
|Machine Learning ...|   Zeta Global Corp.|New York City, Ne...|0.020032484350870673|
|  software-developer|   Zeta Global Corp.|New York City, Ne...|0.020032484350870673|
|database administ...|Business Informat...|New York City, Ne...| 0.01936572883875255|
|          IT manager|  Cloud Destinations|New York City, Ne...|0.017804185749178407|
|   Android Developer|            Data Inc|New York City, Ne...|0.017239188559040615|
|   Database Engineer|           Hsgi Inc.|New York City, Ne...|0.016500187984202594|
|Java Software Eng...|            Data Inc|New York City, Ne...| 0.01628034228468379|
|      Spark Engineer|        Apex Systems|New York City, Ne...|0.014320135464761885|
|           Architect|          AlfaPeople|New York City, Ne...|0.014021506524024011|
|   Database Engineer|          AlfaPeople|New York City, Ne...|0.014021506524024011|
|Java Software Eng...|            Data Inc|New York City, Ne...|0.013767071830939503|
|      Spark Engineer|            Data Inc|New York City, Ne...|0.013767071830939503|
|   Node js developer|Foote, Cone & Bel...|New York City, Ne...|0.012370119287410924|
+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [59]:
#select specific jobs
#df = spark.sql("SELECT * FROM match where job = 'computer vision engineer'")
df = spark.sql("SELECT * FROM match where job = 'FPGA Engineer'")
df.show()

+-------------+--------------------+--------------------+--------------------+
|          job|             company|            location|          similarity|
+-------------+--------------------+--------------------+--------------------+
|FPGA Engineer|Microchip Technology|San Jose, California| 0.08064671429779627|
|FPGA Engineer|Lam Research Corp...|Fremont, Californ...| 0.08037405195916836|
|FPGA Engineer|            Randstad|Ashaway, Rhode Is...| 0.07606167591026433|
|FPGA Engineer|Odyssey Systems C...|Lexington, Massac...| 0.06794424029819622|
|FPGA Engineer|Randstad Technolo...|Ashaway, Rhode Is...| 0.06712068324775063|
|FPGA Engineer|            Dynetics| Huntsville, Alabama| 0.06575373417683203|
|FPGA Engineer|Southwest Researc...|  San Antonio, Texas| 0.06334817461660834|
|FPGA Engineer|              Leidos| Arlington, Virginia| 0.06330316740158387|
|FPGA Engineer|Ageatia Global So...|   Palm Bay, Florida|0.062102049341652796|
|FPGA Engineer|Ageatia Global So...|San Leandro, Cali...|0.062075617354896216|
|FPGA Engineer|Radiance Technolo...|   Ruston, Louisiana|0.061099561454726954|
|FPGA Engineer|         CyberCoders|Santa Clara, Cali...|0.060283272717708225|
|FPGA Engineer|Omnivision Techno...|Santa Clara, Cali...|0.060240627615715685|
|FPGA Engineer|         CyberCoders|San Diego, Califo...| 0.06002196451203928|
|FPGA Engineer|Galaxy Technology...|Chicago, Illinois...|0.059666718972044216|
|FPGA Engineer|Artech Informatio...|San Jose, California| 0.05944409954214891|
|FPGA Engineer|Randstad Technolo...|Ashaway, Rhode Is...| 0.05832907686355402|
|FPGA Engineer| Minuteman Group LLC|Lexington, Massac...| 0.05784570774329104|
|FPGA Engineer|              Belcan|        Dayton, Ohio| 0.05736064182339971|
|FPGA Engineer|Rincon Research Corp|     Tucson, Arizona| 0.05685918296027039|
+-------------+--------------------+--------------------+--------------------+
only showing top 20 rows